<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel='stylesheet' type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class='login-page'>
	<div class='inner'>
		<div class='wrapper'>
			<div class='login-wrap container right'>
				<div class='logo'></div>
				<form th:action="@{/login}" method='POST'>
					<span class='field-icon' data-title='username'><i class='fa fa-user'></i></span>
					<input type="text" id="email" name="email"  th:placeholder="Username" class="input100" />

					<span class='field-icon'><i class='fa fa-lock'></i></span>
					<input type="password"  th:placeholder="Password" id="password" name="password" class="input100" />
					
					<input type='submit' value='Sign In' />
				</form>
				<div class="text-right p-t-90">
					<a class="txt1" th:href="@{/registration}">
						Sign Up
					</a>
				</div>
				
				<p class='copyright'>All rights reserved. 2018</p>
			</div>

		</div>
		<!-- End of .wrapper -->
	</div>
	<!-- End of .inner -->
</body>
</html>