<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel='stylesheet' type="text/css" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class='registration-page'>
	<div class='inner'>
		<div class='wrapper'>
			<div class='registration-wrap container'>
				<div class='logo'></div>
				<h2>Registration</h2>
				<form autocomplete="off" action="#" th:action="@{/registration}" th:object="${user}" method="post" class="login100-form validate-form" role="form">
					<label class="validation-message text-center mb-15" th:utext="${successMessage}"></label>
					
					<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message mb-15"></label>
					<div class="form-group" data-validate = "Enter a valid email">
						<input style="width:  100%;" type="email" id="email" name="email" th:field="*{email}" th:placeholder="Email" class="input100" />
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="validation-message mb-15"></label>
					<div class="form-group" data-validate="Enter a valid firstName">
						<input type="text" placeholder="Firstname" th:field="*{firstName}" id="firstName" name="firstName" class="input100" />
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					
					<label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="validation-message mb-15"></label>
					<div class="form-group" data-validate = "Enter a valid lastName">
						<input type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="Lastname" class="input100" />
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message mb-15"></label>
					<div class="form-group" data-validate = "Enter a valid password">
						<input type="password" id="password" name="password" th:field="*{password}" placeholder="Password" class="input100" />
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					
					<label th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="validation-message mb-15"></label>
					<div class="form-group" data-validate = "Passwords do not match!">
						<input type="password" id="confirmPassword" name="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password" class="input100" />
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div>
						<input type='submit' value='Register' />
					</div>

					<br>
					<div class="text-right p-t-90">
						<a class="txt1" th:href="@{/login}">
							Login
						</a>
					</div>
				</form>

				<!-- Message Box:  Hidden by default -->
				<div class='message-error hide'><i class='fa fa-times'></i>Incorrect Password! Please try again.</div>
				<p class='copyright'>All rights reserved. 2014</p>
			</div>
		</div>
		<!-- End of .wrapper -->
	</div>
	<!-- End of .inner -->
</body>
</html>